html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: transparent;
  font-family: "Inter", sans-serif;
}

.card {
  background: white;
  padding: 40px;
  width: 400px;
  border-radius: 15px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto 15px;
}

.tabs {
  display: flex;
  margin: 20px 0;
}

.tab {
  flex: 1;
  padding: 10px;
  border: none;
  background: #eee;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.tab.active {
  background: #fff;
  border: 2px solid #ccc;
}

label {
  font-weight: 600;
  display: block;
  text-align: left;
  margin: 10px 0 5px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 16px;
}

.button-row {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.help-btn:hover {
  background: #f9fafb;
  transition: 0.25 ease-in-out;
}

.primary-btn {
  flex: 1;
  height: 48px;
  padding: 12px;
  background: #fac200;
  display: flex;
  align-items: 10px;
  justify-content: center;
  border-radius: 15px;
  border-color: #e7e5e9;
  font-size: 16px;
  gap: 8px;
  font-weight: 500;
  cursor: pointer;
}

.help-btn {
  flex: 1;
  height: 48px;
  padding: 12px;
  background: #f8f9fa;
  display: flex;
  align-items: 10px;
  justify-content: center;
  border-radius: 15px;
  border: 10px;
  border-color: #e7e5e9;
  font-size: 0.875rem;
  gap: 8px;
  font-weight: 500;
  cursor: pointer;
}

.background__container {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.background__container::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  z-index: 0;
}

.glow {
  position: absolute;
  border-radius: 50%;
  opacity: 0.2;
  filter: blur(24px);
  animation: glow 2s linear infinite;
}

.yellow {
  width: 64px;
  height: 64px;
  background: radial-gradient(circle, #e4a800 30%, #fcc800);
  top: 5%;
  right: 5%;
}

.purple {
  width: 80px;
  height: 80px;
  background: radial-gradient(circle, #615fff 30%, #7c8cff);
  top: 30%;
  left: 3%;
}

.blue {
  width: 96%;
  height: 96%;
  background: radial-gradient(circle, #267fff 30%, #4fa2ff);
  bottom: 20%;
  left: 5%;
}

@keyframes glow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
